{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Message {% endblock %}</h1>
    <form method="post">
        <label for="name">Name</label>
        <br>
        <textarea name="name"
                  placeholder="Juan Perez"
                  rows="1"
                  cols="30"
                  >{{ request.form['name'] }}</textarea>
        <br>
        <label for="rut">Rut</label>
        <br>
        <textarea name="rut"
                  placeholder="12345678-9"
                  rows="1"
                  cols="30"
                  >{{ request.form['rut'] }}</textarea>
        <br>
        <label for="hr">Heart Rate</label>
        <br>
        <textarea name="hr"
                  placeholder="60"
                  rows="1"
                  cols="30"
                  >{{ request.form['hr'] }}</textarea>
        <br>
        <label for="spo2">Oxygen Saturation</label>
        <br>
        <textarea name="spo2"
                  placeholder="98"
                  rows="1"
                  cols="30"
                  >{{ request.form['spo2'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}