<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}"/>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img class="logo-img" src="/static/images/vital-signs-demo-app-6.png" alt="your image" />
        <ul>
            <li><a class="active" href="{{ url_for('main.index') }}">FlaskApp</a></li>
            <li><a href="{{ url_for('main.create_HRSpO2') }}">Send HR & SpO2 Data</a></li>
            <li><a href="{{ url_for('main.create_EWS') }}">Send EWS Data</a></li>
            <li><a href="{{ url_for('main.create_oxy_demand') }}">Send Oxygen Demand Data</a></li>
            <li><a href="{{ url_for('main.create_health_status') }}">Send Health Status Data</a></li>
            <li><a href="{{ url_for('main.create_health_advisor') }}">Send Health Advisor Data</a></li>
            <li><a href="{{ url_for('main.viewData') }}">Sent messages</a></li>
            <li><a href="{{ url_for('main.about') }}">About</a></li>
        </ul>
    </nav>
    <section>
        <div class="content">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
    </section>
</body>
</html>
