{% extends 'base copy.html' %}

{% block content %}
    <div class="index-style-4">
        <h1>{% block title %} Patient's dashboard by rut{% endblock %}</h1>
        <label for="rut"><h2>Enter patient's rut</h2></label>
        <br>
        <div id="container">
            <form action="{{ url_for('main.showPatientDashboard')}}" method="get">
                <input id = "RutTextArea" name="rut"></input>
                <button type="submit">Show patient's dashboard</button>
            <form>
        </div>
    </div>
{% endblock %}