{% extends 'base copy.html' %}
{% block content %}
    <h1 style="display: none">{% block title %} Vital Signs Demo App{% endblock %}</h1>
    <div class="form-style-5">
      <h1 for="job"> Login </h1>
      <form method="post">
      <fieldset>
      <legend><span class="number">*</span> Please enter user's email and password </legend>
      <input id = "EmailTextArea" type="email" name="email" placeholder="Your email *"></input>
      <input id = "PasswordTextArea" type = "password" name="password" placeholder="Your password *"></input>  
      </fieldset>
      <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages%}
          <div class="alert">Error: {{ msg }}</div>
        {% endfor %}
        {% endif %}
        {% endwith%}
      </div>
      <input type="submit" value="Login" />
      </form>
    </div>
{% endblock %}