{% extends 'base.html' %}
{% block content %}
    <h1 style="display: none">{% block title %} Add an entry for Suplemental Oxygen Demand Prediction{% endblock %}</h1>
    <div class="form-style-5">
      <h1 for="job">Add an entry for Suplemental Oxygen Demand Prediction</h1>
      <button id="getDataButton">Get Max30102 Data</button>
      <form method="post">
      <fieldset>
      <legend><span class="number">1</span> Personal Data</legend>
      <input id = "NameTextArea" type="text" name="name" placeholder="Your name *"></input>
      <input id = "EmailTextArea" type="email" name="email" placeholder="Your email *"></input>
      <input id = "RutTextArea" type = "text" name="rut" placeholder="Your RUT *"></input>  
      </fieldset>
      <fieldset>
      <legend><span class="number">2</span> Vital Signs</legend>
      <input id = "HRTextArea" type="text" name="hr" placeholder="Heart rate *"></input>
      <input id = "SpO2TextArea" type="text" name="spo2" placeholder="Oxygen saturation *"></input>
      <input id = "AgeTextArea" type="text" name="age" placeholder="Age *"></input>
      <label for="hc">Patient had covid?</label>
      <select id = "HadCovidTextArea" name="hadCovid">
        <option value=0>No</option>
        <option value=1>Yes</option>
      </select>
      <label for="gender">Gender</label>
      <select id = "GenderTextArea" name="gender">
        <option value=0>Female</option>
        <option value=1>Male</option>
      </select>
      </fieldset>
      <input type="submit" value="Apply" />
      </form>
    </div>
    <script type="text/javascript" charset="utf-8">
        const socket = io({autoConnect: false})
        document.getElementById("getDataButton").addEventListener("click", function() {
    
          socket.connect();
    
          socket.on("connect", function() {
            socket.emit("get_esp32_data");
            console.log("User waiting for data to display")
          })
          // listen for mqtt_message events
          // when a new message is received, log and append the data to the page
          socket.on('mqtt_message', function(data) {
            console.log(data);
            if (data["topic"] == "/Max30102FromESP32") {
              var text = data['payload'];
              var text = text.split(";")
              console.log(data["payload"])
              var hr_text = text[0].split("=")[1]
              var spo2_text = text[1].split("=")[1]
              console.log(hr_text, spo2_text)
              document.getElementById("HRTextArea").value = hr_text;
              document.getElementById("SpO2TextArea").value = spo2_text;
            }
          })
        })
      </script>
{% endblock %}